In [59]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import train_test_split

import numpy as np
import pandas as pd
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from statsmodels.formula.api import ols
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_percentage_error as mape
import pickle

In [38]:
#read the dataset
df=pd.read_csv("dia.csv")
#encode teh categorical column
df['cut'].replace({"Ideal":1,"Premium":2,"Very Good":3,"Good":4,"Fair":5},inplace=True)
#declare the features and label
X=df[["carat","depth","table","x","y","z","cut"]]
y=df["price"]

In [39]:
df[["color"]].value_counts()
df['color'].replace({"D":1,"E":2,"F":3,"G":4,"H":5,"I":6,"J":7},inplace=True)

In [40]:
df[["color"]].value_counts()

color
4        11292
2         9797
3         9542
5         8304
1         6775
6         5422
7         2808
dtype: int64

In [41]:
df[["clarity"]].value_counts()

clarity
SI1        13065
VS2        12258
SI2         9194
VS1         8171
VVS2        5066
VVS1        3655
IF          1790
I1           741
dtype: int64

In [42]:
df["clarity"].replace({"SI1":1,"VS2":2, "SI2":3, "VS1":4,"VVS2":5,"VVS1":6,"IF":7,"I1":8},inplace=True)

In [43]:
df.drop(columns="Unnamed: 0",inplace=True)

In [44]:
y=df["price"]

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    1      2        3   61.5   55.0    326  3.95  3.98  2.43
1       0.21    2      2        1   59.8   61.0    326  3.89  3.84  2.31
2       0.23    4      2        4   56.9   65.0    327  4.05  4.07  2.31
3       0.29    2      6        2   62.4   58.0    334  4.20  4.23  2.63
4       0.31    4      7        3   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72    1      1        1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    4      1        1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    3      1        1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    2      5        3   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    1      1        3   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [45]:
df.drop(columns="price",inplace=True)

In [46]:
X=df

In [47]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3)

In [57]:
from sklearn.ensemble import GradientBoostingRegressor
model=RandomForestRegressor(n_estimators=200, max_depth=12)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print("The MAPE of the model is: ",mape(y_test, y_pred))

The MAPE of the model is:  0.0771661598562584

In [58]:
train_preds = model.predict(X_train)
train_mape = mape(y_train,train_preds)
print(train_mape)

0.06207259469017129

In [62]:
mdl=model.fit(X_train,y_train)
with open('pricemodel.pkl', 'wb') as file:
    pickle.dump(mdl, file)